@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="margin-top:10rem; font-size:80px; font-family:'Agency FB';" class="display-8">Cadastro de produtos</h1>
    
</div>
